node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native-gradle-plugin*
public-hoist-pattern[]=*@react-native-community/cli-platform-android*
public-hoist-pattern[]=*@react-native-community/cli-platform-ios*
public-hoist-pattern[]=*@babel/runtime*
auto-install-peers=true
shamefully-hoist=true # this is the important one
```